#daydeal #menu li:last-child { float : left; padding : 0; }

#daydeal #menu .formsearch { padding : 0; width : 100% }

#daydeal #menu .fieldHolder {
    position         : relative;
    margin           : 0;
    background-color : #fff;
    width            : 83% }

#daydeal #header .hotels_info { padding-top : 5px }

#daydeal #header h1 {
    border      : none;
    background  : none;
    font-size   : 32px;
    width       : auto;
    padding-top : 10px; }

#daydeal #header h1 img { display : block; padding-top : 10px }

#daydeal #content {
    padding-top : 0 !important;
    margin-top  : 0; }

#daydeal .container { padding : 0 }

#daydeal .hotel_phone {
    width         : 70%; padding : 5px; margin-top : 10px;
    border-radius : 10px;
    margin-right  : 15%; margin-left : 15% }

#daydeal #content .group_sale_info .TotalRating {
    width        : 70%; padding : 5px;
    margin-right : 15%; margin-left : 15% }

#daydeal #content div.hotel_deal h2 {
    width : 100%; height : 85px; font-size : 28px; padding : 0 }

#daydeal #content #brainpal-gallery ul {
    padding : 0; width : 100% }

#daydeal #content div#brainpal-gallery { height : 320px }

#daydeal #content .percent { z-index : 1001 }

#daydeal #content .comments_deal_text { z-index : 1001 }

#daydeal #content .group_sale_image { width : 65% }

#daydeal #content form { width : 65%; float : left }

#daydeal #content input.button_res { width : 98% }

#daydeal #content .reserve { width : 100% }

#daydeal #content div#other_dates_by_res { width : 90% }

#daydeal #content button#ToggleResCompo { padding : 0 0 0 10px }

#daydeal #content .hotel_deal div:nth-child(5) { display : none }

#daydeal #content .comments_deal_text { z-index : 1001 }

[class^='swal2'] h2 {
    background : none; width : auto; border : none }

[class^='swal2'] { direction : rtl }

[class^='ajs'] { direction : rtl }

.alertify-notifier.ajs-left .ajs-message.ajs-visible {
    border-radius : 10px; border : 1px solid #ccc;
    background    : rgba(251, 201, 127, 0.96) }

.ajs-title { font-size : 18px }

.ajs-review div.deals_in { margin : 0; float : none;
    width                         : 90%; padding : 0; color : #339;
    background                    : none }

.ajs-review div.deals_in div.TotalRating { float : none;
    width                                        : auto; margin : 5px 0 5px 15px; color : #0e4d8d; }

@media (min-width : 1025px) {
    .alertify-notifier.ajs-left .ajs-message.ajs-visible {
        right : 290px !important; }
}

#daydeal #content #brainpal-gallery li { display : block }